.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 845px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 60px auto 0;
  }
  
  .u-section-1 .u-list-1 {
    margin-top: 93px;
    margin-bottom: 60px;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 532px;
    grid-gap: 20px 20px;
    grid-auto-columns: calc(50% - 10px);
  }
  
  .u-section-1 .u-image-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/IMG_6123.JPEG");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-2 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-1 .u-text-3 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-1 .u-text-4 {
    font-weight: 300;
    font-style: normal;
    margin: 23px 0 0;
  }
  
  .u-section-1 .u-social-icons-1 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 101px;
    min-width: 68px;
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-icon-1 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-2 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-3 {
    height: 100%;
  }
  
  .u-section-1 .u-image-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/IMG_6130.JPEG");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-5 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-1 .u-text-6 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-1 .u-text-7 {
    font-weight: 300;
    font-style: normal;
    margin: 23px 0 0;
  }
  
  .u-section-1 .u-social-icons-2 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 101px;
    min-width: 68px;
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-icon-4 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-5 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-6 {
    height: 100%;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 747px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 10px));
      min-height: 437px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: calc(100% - 0px);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 2247px;
    }
  
    .u-section-1 .u-list-1 {
      margin-top: 75px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 318px;
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 1.25rem;
    }
  
    .u-section-1 .u-text-5 {
      margin-top: 318px;
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1695px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.5rem;
      margin-top: 141px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 1.5rem;
      margin-top: 141px;
    }
  }