<html layout:decorate="~{/layout.html}">

<head>
  <title>Inicio</title>
  <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>

<body>
  <section layout:fragment="content">
    <section class="main_content">
      <div class="hero">
        <div class="info">
          <h2> WebMates <br> <span>La web a tu alcance</span> </h2>
          <p>Convierte tus ideas en proyectos reales de la mano de los mejores compañeros de desarrollo</p>
          <a href="#team" class="info-btn">Conócenos!</a>
        </div>
      </div>
      <div class="media_icons">
      </div>
    </section>
  </section>
</body>

</html>