#super_nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #fff;
}

#super_nav .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#super_nav .logo img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

#super_nav .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#super_nav ul {
  list-style: none;
  display: flex;
}

#super_nav ul li {
  margin-left: 1.5rem;
}

#super_nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}